# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android/Gradle
android/.gradle/
android/local.properties
**/key.properties
**/*.jks

# iOS/Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
